/* filepath: /C:/Users/davay/Documents/Proyectos Angular/appAyme/src/app/tasks/tasks.page.scss */
.task-item {
  --ion-item-background: transparent;
  --ion-item-border-color: transparent;
}

.task-card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-card ion-card-header {
  text-align: center;
}

.task-card ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
