<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let task of tasks" class="task-item">
      <ion-card class="task-card">
        <ion-card-header>
          <ion-card-title>{{ task.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Nota: {{ task.nota }}</p>
          <p>Observación: {{ task.observacion }}</p>
          <ion-button expand="full">Ver Tarea</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- Botón de agregar tarea solo visible para profesores -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="role === 'teacher'">
    <ion-fab-button color="primary" (click)="openAddTaskModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>