<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="backButton"
        [defaultHref]="backButton"
      ></ion-back-button>

      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/enrollment']">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="this.logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <strong style="color: white">{{ title }}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
