<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Curso de Programación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descripción del curso de programación.</p>
      <ion-button expand="full">Ver Curso</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Curso de Diseño</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descripción del curso de diseño.</p>
      <ion-button expand="full">Ver Curso</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Agrega más tarjetas según sea necesario -->
</ion-content>