<app-header title="Recursos del Curso" backButton="true"></app-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let resource of this.resources" class="course-card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="book" slot="start"></ion-icon>
        Recurso: {{ resource.nombre }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-icon name="code-working"></ion-icon> Código del Curso: {{
        resource.materia_id }}
      </p>
      <ion-button
        expand="full"
        color="secondary"
        (click)="downloadResource(resource)"
      >
        <ion-icon name="clipboard"></ion-icon>
        Descargar Recurso
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
