<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="taskForm.get('nombre')?.invalid && taskForm.get('nombre')?.touched">
      El nombre es requerido.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Nota</ion-label>
      <ion-input formControlName="nota"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="taskForm.get('nota')?.invalid && taskForm.get('nota')?.touched">
      La nota es requerida.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Observación</ion-label>
      <ion-input formControlName="observacion"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="taskForm.get('observacion')?.invalid && taskForm.get('observacion')?.touched">
      La observación es requerida.
    </ion-note>

    <ion-button expand="full" type="submit" [disabled]="taskForm.invalid">Agregar Tarea</ion-button>
  </form>
</ion-content>