/* filepath: /C:/Users/davay/Documents/Proyectos Angular/appAyme/src/app/tasks/add-task-teacher/add-task-teacher.component.scss */
.upload-form {
    padding: 16px;
  }
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --padding-end: 0;
    margin-bottom: 16px;
  }
  
  .submit-button {
    margin-top: 24px;
  }