<app-header title="Materias" />
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let course of this.courses">
    <ion-card-header>
      <ion-card-title>{{ course.materia }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Curso {{course.materia}}</p>
      <p>Código del Curso: {{course.materia_id}}</p>
      <ion-button
        expand="full"
        color="secondary"
        (click)="this.redirectToCourseTasks(course.materia_id)"
        >Tareas</ion-button
      >
      <ion-button
        expand="full"
        color="warning"
        (click)="this.redirectToCourseResources(course.materia_id)"
        >Recursos</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
